.subtitle {
  font-size: 1.5em;
}

// Header
#body-inicio #header {
  @mixin show-from($delay) {
    animation: show-from .5s (.5 + .25s * $delay) both;
  }
  #logo-clinica {         @include show-from(0); }
  #logo-dental {          @include show-from(1); }
  #logo-susana {          @include show-from(2); /* --show-from: translateX(-3rem); */ }
  #logo-icon-s {          @include show-from(2); /* --show-from: translateX(-3rem); */ }
  #logo-navarro {         @include show-from(3); /* --show-from: translateX(3rem); */ }
  #logo-icon-n {          @include show-from(3); /* --show-from: translateX(3rem); */ }
  .description p {        @include show-from(4); }
  .description .buttons { @include show-from(5); }
  .column--item-2 {       @include show-from(6); }
}


// Sections

.section__title {
  // h3,
  h2 {
    --title: var(--link)
  }
}
.section__header .subtitle {
  --subtitle: var(--main)
}


// Trata mientos

#tratamientos {
  .column__header {
    margin-bottom: -.5em;
  }
}


// Steps

.step__content h3 {
  --title: var(--main);
  &.underline:after {
    --main: var(--link);
  }
}
.step__figure {
  --main: var(--link);
}


// Reviews

.review__title {
  --title: var(--main);
}
