@font-face {
  font-family: "Sign Painter House Script";
  src: url("/fonts/sign-painter-house-script.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Bebrush";
  src: url("/fonts/bebrush.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
